<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <!-- STYLES -->
        <link rel="stylesheet" href="/assets/styles/angular-material.min.css">
        <link rel="stylesheet" href="/assets/styles/style.css"> <!--MINE-->
        <!-- SCRIPTS -->
        <script type="text/javascript" src="/assets/vendors/angular.min.js"></script>
        <script type="text/javascript" src="/assets/vendors/angular-animate.min.js"></script>
        <script type="text/javascript" src="/assets/vendors/angular-messages.min.js"></script>
        <script type="text/javascript" src="/assets/vendors/angular-aria.min.js"></script>
        <script type="text/javascript" src="/assets/vendors/angular-material.min.js"></script>
        <script type="text/javascript" src="/assets/vendors/angular-route.min.js"></script>
        <script type="text/javascript" src="assets/client.js"></script> <!--MINE-->
    </head>
    <body>
        <h2>Welcome! Please Login.</h2>

        <div>
            <form>
                <label for="districtNumber">District ID#: </label>
                    <input type="number" name="districtNumber" />
                <label for="userName">User Name: </label>
                    <input type="text" name="userName" />
                <label for="password">Password: </label>
                    <input type="password" name="password" />
            </form>
        </div>
    </body>
</html>
