<html>
    <head>
        <meta charset="UTF-8" />
        <title>Route Pickup</title>
        <!-- STYLES -->
        <link rel="stylesheet" href="/assets/styles/angular-material.min.css">
        <link rel="stylesheet" href="/assets/styles/style.css">
        <!-- SCRIPTS -->
        <script type="text/javascript" src="/assets/vendors/angular.min.js"></script>
        <script type="text/javascript" src="/assets/vendors/angular-animate.min.js"></script>
        <script type="text/javascript" src="/assets/vendors/angular-messages.min.js"></script>
        <script type="text/javascript" src="/assets/vendors/angular-aria.min.js"></script>
        <script type="text/javascript" src="/assets/vendors/angular-material.min.js"></script>
        <script type="text/javascript" src="/assets/vendors/angular-route.min.js"></script>
        <script type="text/javascript" src="/assets/client.js"></script>
    </head>
    <body>
        OMG totes maloats!
    </body>
</html>
