<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <!-- STYLES -->
        <link rel="stylesheet" href="/assets/styles/angular-material.min.css">
        <link rel="stylesheet" href="/assets/styles/style.css">
        <!-- SCRIPTS -->
        <script type="text/javascript" src="/assets/vendors/angular.min.js"></script>
        <script type="text/javascript" src="/assets/vendors/angular-animate.min.js"></script>
        <script type="text/javascript" src="/assets/vendors/angular-messages.min.js"></script>
        <script type="text/javascript" src="/assets/vendors/angular-aria.min.js"></script>
        <script type="text/javascript" src="/assets/vendors/angular-material.min.js"></script>
        <script type="text/javascript" src="/assets/vendors/angular-route.min.js"></script>
        <script type="text/javascript" src="/assets/client.js"></script>
        <script type="text/javascript" src="/assets/factories.js"></script>
    </head>
    <body layout-align="center center" layout="column">
        <h2>Welcome! Please Login.</h2>
        <div>
            <form action="/" method="post">
                <label for="username">User Name: </label>
                    <input type="text" name="username" />
                        <br />
                <label for="password">Password: </label>
                    <input type="password" name="password" />
                        <br />
                <input href="/login" ng-click="getAccountTypeName()" type="submit" value="Login" />
            </form>
        </div>
        <p>Incorrect User Name or Password. </p>
        <p>Please try again.</p>
    </body>
</html>
